/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #111111;
  font-size: 16px; }
  html {
    font-size: 16px; }
    @media screen and (min-width: 320px) {
      html {
        font-size: calc(0.38241vw + 14.77629px); } }
    @media screen and (min-width: 1366px) {
      html {
        font-size: 20px; } }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
* {
  margin: 0;
  padding: 0;
  z-index: 999999; }

html {
  box-sizing: border-box;
  background-color: #423c56;
  background-image: url("../img/patternbg-2019.jpg");
  background-repeat: repeat;
  background-size: 15%;
  background-attachment: fixed; }
  @media screen and (min-width: 1280px) {
    html {
      background-size: 10%; } }

body {
  overflow-x: hidden; }

*,
*:before,
*:after {
  box-sizing: inherit; }

svg,
img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  /* fix chrome's image sharpness per: https://medium.freecodecamp.org/-898b38a6c0e1 */ }

::-webkit-scrollbar {
  width: 0.25rem; }

::-webkit-scrollbar-track {
  background: #423c56;
  border-radius: 0.125rem; }

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0.125rem; }

::-webkit-scrollbar-thumb:hover {
  background: #f2e269; }

#bgGradientSVG {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  fill: url(#linear-gradient-blueToTp); }

.referenceSVG {
  z-index: 1;
  display: none; }

#sass {
  fill: #C66395; }

#wordpress {
  fill: #00AADC; }

.phpRadGrad {
  fill: url(#phpRadGrad); }

.phpPurple {
  fill: #777BB3; }

#jquery {
  fill: #78CFF5; }

#javascript {
  fill: #F7DF1E; }

#css {
  fill: #0C70B3; }

#html {
  fill: #EA642B; }

#photoshop {
  fill: #08AFDE; }

#illustrator {
  fill: #E47002; }

#indesign {
  fill: #FF408C; }

#acrobat {
  fill: #E01408; }

.cspBg {
  fill: #E7E8E8; }

.csp {
  fill: #4C4C4C; }

#sketchup {
  fill: #E72B2D; }

#word {
  fill: #295495; }

#excel {
  fill: #00823F; }

#powerpoint {
  fill: #CA4223; }

.gdy {
  fill: #ffd04a; }

.gdb {
  fill: #4688f4; }

.gdg {
  fill: #1ca261; }

#glowGradient {
  fill: url(#radial-gradient); }

.fillGold {
  fill: #f2e269; }

.fillGold2 {
  fill: #AA9D39; }

.fillWh {
  fill: #ffffff; }

.fillTeal {
  fill: #00a4b3; }

.fillBlue {
  fill: #423c56; }

.fillBlk {
  fill: #111111; }

#menuSVG,
.fillNone {
  fill: none; }

.strokeWh,
.strokeGold,
.strokeGold2,
.strokeTeal,
#scrollDownSVG,
#menuSVG {
  stroke-linecap: round;
  stroke-linejoin: round; }

.iconsSVG,
.strokeGold,
.strokeTeal {
  stroke-width: 3px; }

.strokeGold2 {
  stroke-width: 2px; }

#scrollDownSVG {
  stroke-width: 1.5px; }

.strokeWh {
  stroke-width: 1px; }

#scrollDownSVG,
.strokeTeal {
  stroke: #00a4b3; }

.strokeWh {
  stroke: #ffffff; }

.strokeGold {
  stroke: #f2e269; }

.iconsSVG,
.strokeGold2 {
  stroke: #AA9D39; }

.lineHzSVG {
  margin-right: 1%;
  width: 4%;
  height: 10px;
  align-self: center; }

.lineVtSVG {
  padding-left: 1%;
  width: 10px;
  flex: 1 45%; }
  @media screen and (orientation: landscape) {
    .lineVtSVG {
      flex: 1 40%; } }

.decoHzLines {
  width: 50%;
  height: 1.5em;
  stroke-dasharray: 150 300;
  stroke-dashoffset: 0; }

#scrollDownSVG {
  max-width: 6em;
  stroke-dasharray: 50 60;
  -webkit-animation: sda 350ms forwards ease-in-out 1;
  -moz-animation: sda 350ms forwards ease-in-out 1;
  animation: sda 350ms forwards ease-in-out 1; }

#scrollDownDiv a:active + #scrollDownSVG,
#scrollDownDiv:hover #scrollDownSVG {
  -webkit-animation: sdaH 350ms forwards ease-in-out 1;
  -moz-animation: sdaH 350ms forwards ease-in-out 1;
  animation: sdaH 350ms forwards ease-in-out 1; }

@keyframes sda {
  from {
    stroke: #03e6fb;
    stroke-dashoffset: 0%; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: -80%; } }
@-webkit-keyframes sda {
  from {
    stroke: #03e6fb;
    stroke-dashoffset: 0%; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: -80%; } }
@-moz-keyframes sda {
  from {
    stroke: #03e6fb;
    stroke-dashoffset: 0%; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: -80%; } }
@keyframes sdaH {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: -80%; }
  to {
    stroke: #03e6fb;
    stroke-dashoffset: 0%; } }
@-webkit-keyframes sdaH {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: -80%; }
  to {
    stroke: #03e6fb;
    stroke-dashoffset: 0%; } }
@-moz-keyframes sdaH {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: -80%; }
  to {
    stroke: #03e6fb;
    stroke-dashoffset: 0%; } }
#menuSVG {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  stroke-width: 0.1875rem; }

#outerLines {
  stroke-dasharray: 21; }

#innerLines {
  stroke-dasharray: 16; }

.outerM, .innerM {
  stroke: #00a4b3; }

.outerM {
  stroke-dashoffset: -21; }
  @media screen and (orientation: landscape) {
    .outerM {
      stroke-dashoffset: 0;
      animation: oToX 600ms forwards ease-in-out 1; } }

.innerM {
  stroke-dashoffset: 0; }
  @media screen and (orientation: landscape) {
    .innerM {
      stroke-dashoffset: -16;
      animation: iToX 600ms forwards ease-in-out 1; } }

.cntrlNav:checked ~ #label-menuIcon #menuSVG #outerLines {
  stroke: #ffffff;
  stroke-dashoffset: 0; }
  @media screen and (orientation: landscape) {
    .cntrlNav:checked ~ #label-menuIcon #menuSVG #outerLines {
      stroke-dashoffset: -21;
      animation: oToM 700ms forwards ease-in-out 1; } }

.cntrlNav:checked ~ #label-menuIcon #menuSVG #innerLines {
  stroke: #ffffff;
  stroke-dashoffset: -16; }
  @media screen and (orientation: landscape) {
    .cntrlNav:checked ~ #label-menuIcon #menuSVG #innerLines {
      stroke-dashoffset: 0;
      animation: iToM 700ms forwards ease-in-out 1; } }

@keyframes oToM {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: -21; }
  to {
    stroke: #ffffff;
    stroke-dashoffset: 0; } }
@-webkit-keyframes oToM {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: -21; }
  to {
    stroke: #ffffff;
    stroke-dashoffset: 0; } }
@-moz-keyframes oToM {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: -21; }
  to {
    stroke: #ffffff;
    stroke-dashoffset: 0; } }
@keyframes iToM {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: 0; }
  to {
    stroke: #ffffff;
    stroke-dashoffset: -16; } }
@-webkit-keyframes iToM {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: 0; }
  to {
    stroke: #ffffff;
    stroke-dashoffset: -16; } }
@-moz-keyframes iToM {
  from {
    stroke: #00a4b3;
    stroke-dashoffset: 0; }
  to {
    stroke: #ffffff;
    stroke-dashoffset: -16; } }
@keyframes oToX {
  from {
    stroke: #ffffff;
    stroke-dashoffset: 0; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: -21; } }
@-webkit-keyframes oToX {
  from {
    stroke: #ffffff;
    stroke-dashoffset: 0; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: -21; } }
@-moz-keyframes oToX {
  from {
    stroke: #ffffff;
    stroke-dashoffset: 0; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: -21; } }
@-webkit-keyframes iToX {
  from {
    stroke: #ffffff;
    stroke-dashoffset: -16; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: 0; } }
@-moz-keyframes iToX {
  from {
    stroke: #ffffff;
    stroke-dashoffset: -16; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: 0; } }
@keyframes iToX {
  from {
    stroke: #ffffff;
    stroke-dashoffset: -16; }
  to {
    stroke: #00a4b3;
    stroke-dashoffset: 0; } }
h1, h2, h4 {
  font-family: "Gentium Book Basic", Garamond, serif; }

h3, h5, h6 {
  font-family: "Poiret One", Arial, sans-serif; }

h1, h2, h3, h4, h6 {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }
  h1, h2, h3, h4, h5, h6 {
    padding-top: 0rem;
    padding-bottom: 0rem; }
    @media screen and (min-width: 20rem) {
      h1, h2, h3, h4, h5, h6 {
        padding-top: calc(1.25vw - 0.25rem);
        padding-bottom: calc(1.25vw - 0.25rem); } }
    @media screen and (min-width: 60rem) {
      h1, h2, h3, h4, h5, h6 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem; } }

h1, h2, h3, .fanzineLink {
  text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5); }

h1 {
  margin-bottom: 0;
  line-height: 1;
  font-size: 2.75rem; }
  @media screen and (min-width: 400px) {
    h1 {
      font-size: 3.25rem; } }
  @media screen and (min-width: 566px) {
    h1 {
      font-size: 4em; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4.75em; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 5em; } }
  @media screen and (min-width: 1280px) {
    h1 {
      font-size: 5.5em; } }

h2 {
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  line-height: 1; }
  @media screen and (min-width: 400px) {
    h2 {
      font-size: 2.1875rem; } }
  @media screen and (min-width: 566px) {
    h2 {
      font-size: 2.5em; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.875em; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 3.125em; } }

h3 {
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: bold; }
  @media screen and (min-width: 400px) {
    h3 {
      font-size: 1.5em; } }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 1.75em; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 2em; } }

h4 {
  font-size: 1.125rem;
  font-weight: bold; }
  @media screen and (min-width: 400px) {
    h4 {
      font-size: 1.25em; } }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 1.75em; } }

h5 {
  font-size: 1rem;
  font-weight: bold; }
  @media screen and (min-width: 400px) {
    h5 {
      font-size: 1.0625em; } }
  @media screen and (min-width: 768px) {
    h5 {
      font-size: 1.125em; } }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 1.25em; } }

h1, h2, h3, h4, h5, h6, li {
  letter-spacing: 0.0625rem; }

.contentH3 {
  margin-bottom: 0;
  text-shadow: none; }

.numberH3 {
  font-family: "Gentium Book Basic", Garamond, serif;
  color: #AA9D39;
  margin-bottom: 1em;
  font-size: 1.375rem; }
  @media screen and (min-width: 400px) {
    .numberH3 {
      font-size: 1.5em; } }
  @media screen and (min-width: 768px) {
    .numberH3 {
      font-size: 1.625em; } }
  @media screen and (min-width: 1024px) {
    .numberH3 {
      font-size: 2em; } }

.articleContainer h4 {
  text-align: center; }

h4.contentH4 {
  text-align: left; }

h5.back {
  padding: 1em 0 0 0;
  text-transform: uppercase; }

.back {
  font-family: "Poiret One", Arial, sans-serif; }

ol, ul, p {
  font-family: "Gentium Book Basic", Garamond, serif; }

ol, ul {
  margin: 0 1rem;
  font-size: 0.875rem; }
  @media screen and (min-width: 1024px) {
    ol, ul {
      font-size: 1rem; } }

ul {
  list-style: none; }

#fanzineLinkList {
  margin: 1em auto 0;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media screen and (orientation: landscape) {
    #fanzineLinkList {
      flex-direction: row;
      justify-content: space-around; } }

#fanzineLinkList li {
  padding-bottom: 1em; }
  @media screen and (orientation: landscape) {
    #fanzineLinkList li {
      padding-bottom: 0; } }

p {
  margin: 0 auto 1em;
  max-width: 35rem;
  line-height: 1.25em; }
  @media screen and (min-width: 566px) {
    p {
      font-size: 1.04em; } }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.067em; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 1.085em; } }

@media screen and (orientation: landscape) {
  .articleContainer p {
    margin: 0 1em 1em; } }

abbr[title] {
  border-bottom: none;
  text-decoration: none; }

.hideMe {
  opacity: 0; }

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.socialLinks a i {
  padding: 1rem;
  flex: 1 auto;
  color: #00a4b3; }

.curtainContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 99999999999; }

.curtain {
  background-color: #423c56;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  will-change: transform;
  z-index: 1060; }

input[name="cntrlCurtain"]:checked ~ #curtain,
.raise .curtain {
  -webkit-transform: translateY(-103%);
  -moz-transform: translateY(-103%);
  transform: translateY(-103%);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out; }

div.curtainContainer div:first-of-type {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

input[name="cntrlCurtain"]:checked + #curtainContainer {
  display: none; }

#label-cntrlCurtain {
  cursor: pointer; }

.fullSection,
.longSection,
.partialSection {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }

.fullSection {
  height: 100vh; }

.longSection {
  height: auto; }
  @media screen and (orientation: landscape) {
    .longSection {
      min-height: 100vh; } }

.infoSection {
  background-color: #ffffff;
  color: #111111; }

.partialSection {
  min-height: 35vh;
  background-image: linear-gradient(200deg, #AA9D39, #00a4b3);
  color: #ffffff; }

.infoSection,
.partialSection {
  z-index: 6000; }

.projectInfo {
  flex-wrap: wrap; }

.contentContainer,
.partialContainer,
.fullImg {
  position: relative; }

.contentContainer,
.titleContainer,
.fullImg {
  width: 100%; }

.contentContainer,
.titleContainer,
.fullImg {
  display: flex; }

.contentContainer {
  height: 100%;
  flex-direction: column; }

#scrollHint {
  position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 1.5em;
  height: 12.5%;
  width: auto;
  transition: all 100ms ease-in-out;
  overflow-y: hidden; }
  @media screen and (min-width: 768px) {
    #scrollHint {
      height: 15%; } }
  @media screen and (orientation: landscape) {
    #scrollHint {
      height: auto;
      transition: all 300ms ease-in-out;
      left: 5%;
      right: auto; } }

#scrollHint p {
  flex: 99999999999 auto;
  font-family: "Poiret One", Arial, sans-serif;
  font-size: 0.875em;
  text-align: right;
  writing-mode: vertical-rl;
  color: #ffffff; }

.scrollDown {
  max-width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (orientation: landscape) {
  .contentContainer {
    max-height: 100%;
    flex-direction: row; } }

.infoContainer {
  padding: 25% 10% 5% 10%;
  color: #111111; }
  @media screen and (min-width: 566px) {
    .infoContainer {
      padding: 20% 10% 5% 10%; } }
  @media screen and (orientation: landscape) {
    .infoContainer {
      padding: 10% 10% 5%; } }

.titleContainer {
  top: 2.5%;
  left: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 100000000000;
  text-align: left; }
  @media screen and (orientation: landscape) {
    .titleContainer {
      top: 5%; } }
  @media screen and (min-width: 1024px) {
    .titleContainer {
      top: 0; } }

.partialContainer {
  margin: 0 auto;
  text-align: center; }

#summary {
  height: auto; }

@media screen and (orientation: landscape) {
  #whoIAm {
    flex-direction: row-reverse;
    align-items: center; } }

#myPassions,
#mySkills {
  height: auto; }
  @media screen and (orientation: landscape) {
    #myPassions,
    #mySkills {
      padding: 10% 10% 0; } }

@media screen and (min-width: 768px) {
  #mySkills {
    flex-direction: row; } }

.fullImg {
  padding: 0 5%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center; }

.bigImg {
  padding: 0 0 5% 0;
  width: 100%;
  height: 50vh; }
  @media screen and (orientation: landscape) {
    .bigImg {
      height: 75vh; } }
  @media screen and (min-width: 1280px) {
    .bigImg {
      height: 100vh; } }

#webdesignmosaic {
  background-image: url(../samuraitroopers/img/webdes-stMosaic.jpg); }

#socialmediamosaic {
  background-image: url(../samuraitroopers/img/socmed-stMosaic.jpg); }

.introSVGs,
.imgContainer,
.imgHeader,
.textContainer,
.textHeader,
.titleContainer {
  position: absolute; }

.svgContainer {
  margin-top: -7.5%;
  height: 100%;
  width: 100%;
  z-index: 10; }
  @media screen and (min-width: 566px) {
    .svgContainer {
      margin-top: -10%; } }
  @media screen and (orientation: landscape) {
    .svgContainer {
      margin-top: 0; } }

#introText {
  bottom: 20%; }
  @media screen and (min-width: 566px) {
    #introText {
      bottom: 15%; } }
  @media screen and (orientation: landscape) {
    #introText {
      bottom: auto; } }

.textContainer {
  bottom: 7.5%; }
  @media screen and (min-width: 400px) {
    .textContainer {
      bottom: 10%; } }

.textHeader {
  bottom: 20%; }
  @media screen and (min-width: 400px) {
    .textHeader {
      bottom: 25%; } }
  @media screen and (min-width: 768px) {
    .textHeader {
      bottom: 10%; } }

.textHeader,
.textContainer {
  left: 10%;
  z-index: 100;
  color: #ffffff; }
  @media screen and (orientation: landscape) {
    .textHeader,
    .textContainer {
      top: 60%;
      bottom: auto;
      transform: translateY(-50%); } }

.articleContainer {
  padding-bottom: 2em;
  flex: 1 33%; }
  @media screen and (orientation: landscape) {
    .articleContainer {
      padding-bottom: 0; } }

@media screen and (orientation: landscape) {
  .textHeavy {
    padding-top: 5%; } }

.iconsSVG {
  margin: 0 auto 1em;
  width: 50%;
  max-width: 10rem;
  display: block; }

.articleImg {
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
  flex: 1 auto; }
  @media screen and (min-width: 566px) {
    .articleImg {
      padding-left: 1em;
      width: 90%;
      flex: 1 99999999999%; } }
  @media screen and (orientation: landscape) {
    .articleImg {
      padding: 0;
      width: 50%;
      max-height: 650px;
      flex: 1 auto;
      text-align: right; } }

.imgContainer,
.imgHeader,
.bigImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.imgContainer,
.imgHeader {
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 50; }

.imgContainer {
  width: 85%;
  height: 56.5vh;
  top: 10%;
  overflow-y: hidden;
  border-radius: 0.125rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.375); }
  @media screen and (orientation: landscape) {
    .imgContainer {
      width: 55%;
      height: 75vh;
      top: 50%;
      left: auto;
      right: 7.5%;
      transform: translate(0, -50%); } }
  @media screen and (min-width: 1440px) {
    .imgContainer {
      width: 60%;
      height: 80vh; } }

.imgHeader {
  width: 100%;
  height: 66.5vh;
  top: 0; }
  @media screen and (orientation: landscape) {
    .imgHeader {
      width: 60%;
      height: 100vh;
      left: auto;
      right: 0;
      transform: translate(0, 0); } }

#ystProjectImg {
  background-image: url(../img/sword-birds_landscape.jpg); }

#aboutImg {
  background-image: url(../img/suki-samezu.jpg); }

#contactImg {
  background-image: url(../img/tea-with-me.jpg); }

.colorBlock {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00a4b3; }

.svgElement {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20; }
  @media screen and (orientation: landscape) {
    .svgElement {
      overflow: visible;
      height: 100vh; } }
  @media screen and (min-width: 1024px) {
    .svgElement {
      left: 35%; } }
  @media screen and (min-width: 1440px) {
    .svgElement {
      left: 27.5%; } }

.introSVGs {
  margin: 0 auto;
  height: 70vh;
  top: -7.5%;
  left: 50%;
  transform: translate(-50%, 0); }
  @media screen and (min-width: 400px) {
    .introSVGs {
      height: 75vh; } }
  @media screen and (min-width: 566px) {
    .introSVGs {
      height: 90vh; } }
  @media screen and (orientation: landscape) {
    .introSVGs {
      width: 100%;
      height: 100vh;
      top: 50%;
      left: 40%;
      transform: translate(0, -50%); } }
  @media screen and (min-width: 1440px) {
    .introSVGs {
      width: 95%; } }

svg.introSVGs {
  overflow: visible !important; }

.softwareSkills {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

.softwareSkills svg {
  width: 75px;
  height: 75px;
  flex: 1 1 auto; }
  @media screen and (min-width: 1024px) {
    .softwareSkills svg {
      width: 100px;
      height: 100px; } }

.softwareSkills h5 {
  padding-left: 5%;
  width: 90%;
  flex: 1 1 90%; }

a {
  color: #ffffff;
  text-decoration: none; }

#mainNav {
  padding: 5%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between; }
  @media screen and (orientation: landscape) {
    #mainNav {
      padding: 1em 5%; } }

.nameLink {
  flex: 1 auto;
  align-self: center;
  color: #00a4b3;
  font-family: "Poiret One", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.0625rem; }
  @media screen and (min-width: 400px) {
    .nameLink {
      font-size: 1.125em; } }
  @media screen and (min-width: 566px) {
    .nameLink {
      font-size: 1.1875em; } }
  @media screen and (min-width: 768px) {
    .nameLink {
      font-size: 1.25em; } }
  @media screen and (min-width: 1024px) {
    .nameLink {
      font-size: 1.3125em; } }

#label-menuIcon {
  flex: 1 50%;
  text-align: right;
  z-index: 5000; }

#navContainer {
  margin: 0;
  padding: 5% 1rem 0;
  position: absolute;
  top: -100vh;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(200deg, #AA9D39, #00a4b3); }
  @media screen and (orientation: landscape) {
    #navContainer {
      padding: 1em 1em 0; } }

#navList {
  flex: 99999 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#navList li a {
  display: block;
  padding: 1rem 3rem;
  align-self: stretch;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Poiret One", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem; }
  @media screen and (min-width: 400px) {
    #navList li a {
      font-size: 2.25em; } }
  @media screen and (min-width: 768px) {
    #navList li a {
      font-size: 2.5em; } }
  @media screen and (min-width: 1024px) {
    #navList li a {
      font-size: 3em; } }

a.button {
  margin-bottom: 2%;
  max-width: 25ch;
  padding: 0.75em 2em;
  display: inline-block;
  border: none;
  border-radius: 1.5em;
  background-image: linear-gradient(200deg, #AA9D39, #00a4b3);
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.375);
  -webkit-transition: all 280ms ease-out;
  -moz-transition: all 280ms ease-out;
  transition: all 280ms ease-out; }

.back a {
  display: inline-block;
  padding: 0.5rem; }

.scrollDown a {
  color: #00a4b3; }

.cntrlCurtain,
.cntrlNav {
  display: none;
  visibility: hidden; }

.cntrlNav ~ #navContainer {
  -webkit-transition: top 600ms ease-out;
  -moz-transition: top 600ms ease-out;
  -o-transition: top 600ms ease-out;
  transition: top 600ms ease-out; }

.cntrlNav:checked ~ #navContainer {
  top: 0; }

a.nameLink:hover,
.scrollDown:hover a,
h4.back a:hover,
h5.back a:hover,
#navContainer a:hover,
#navContainer a:active,
.socialLinks a i:hover {
  color: #03e6fb; }

a.nameLink:hover,
.scrollDown:hover a,
.socialLinks a i:hover {
  color: #03e6fb;
  -webkit-animation: glow1 0.35s ease-in;
  -moz-animation: glow1 0.35s ease-in;
  animation: glow1 0.35s ease-in; }

h4.back a:hover,
h5.back a:hover,
#navContainer a:hover,
#navContainer a:active {
  -webkit-animation: glow2 0.35s ease-in;
  -moz-animation: glow2 0.35s ease-in;
  animation: glow2 0.35s ease-in; }

@-webkit-keyframes glow1 {
  from {
    color: #00a4b3; }
  to {
    color: #03e6fb; } }
@-moz-keyframes glow1 {
  from {
    color: #00a4b3; }
  to {
    color: #03e6fb; } }
@keyframes glow1 {
  from {
    color: #00a4b3; }
  to {
    color: #03e6fb; } }
@-webkit-keyframes glow2 {
  from {
    color: #ffffff; }
  to {
    color: #03e6fb; } }
@-moz-keyframes glow2 {
  from {
    color: #ffffff; }
  to {
    color: #03e6fb; } }
@keyframes glow2 {
  from {
    color: #ffffff; }
  to {
    color: #03e6fb; } }

/*# sourceMappingURL=css.css.map */
