/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #111111;
  font-size: 16px;
  line-height: 1.375; }
  @media screen and (min-width: 769px) {
    html {
      line-height: 1.5; } }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

svg,
img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  /* fix chrome's image sharpness per: https://medium.freecodecamp.org/-898b38a6c0e1 */ }

#pageWrap {
  margin: 0 auto;
  max-width: 125rem;
  position: relative;
  overflow-x: hidden;
  background: #00a4b3 url("../img/site/herobg.jpg") repeat-x fixed;
  /* fallback */
  background-image: url("../img/site/asanoha-pattern-opt.svg"), linear-gradient(#ffffe2, #00a4b3);
  /* for general */
  background-attachment: fixed;
  background-size: auto 100vh;
  /* uses js to recalculate height and avoid shifting */ }
  @media screen and (min-width: 769px) {
    #pageWrap {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      height: 100vh;
      overflow: hidden;
      background: #ffffff; } }

@media screen and (min-width: 769px) {
  .flexSection60 {
    flex: 1 60%; } }

@media screen and (min-width: 769px) {
  .flexSection40 {
    flex: 1 40%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", Arial, sans-serif; }

h1,
h2,
h3 {
  margin: 0 0 0.75rem 0; }

h4,
h5,
h6 {
  margin-bottom: 0.25rem; }

h1 {
  font-size: 1.25rem; }
  @media screen and (min-width: 400px) {
    h1 {
      font-size: 1.5rem; } }
  @media screen and (min-width: 769px) {
    h1 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.125rem; }
  @media screen and (min-width: 400px) {
    h2 {
      font-size: 1.25rem; } }
  @media screen and (min-width: 769px) {
    h2 {
      font-size: 1.5rem; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 1.75rem; } }

h3 {
  font-size: 1.0625rem; }
  @media screen and (min-width: 400px) {
    h3 {
      font-size: 1.125rem; } }
  @media screen and (min-width: 769px) {
    h3 {
      font-size: 1.25rem; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 1.5rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.0625rem; }

ol,
ul,
p {
  font-family: "Average", Garamond, serif; }

ol,
ul {
  margin: 0 1rem;
  font-size: 0.875rem; }
  @media screen and (min-width: 1024px) {
    ol,
    ul {
      font-size: 1rem; } }

a {
  color: #00a4b3;
  text-decoration: none; }

@media screen and (min-width: 769px) {
  #leftHeroSection {
    background: #00a4b3 url("../img/site/herobg.jpg") repeat-x fixed;
    /* fallback */
    background-image: url("../img/site/asanoha-pattern-opt.svg"), linear-gradient(#ffffe2, #00a4b3);
    /* for general */
    background-attachment: fixed; } }

#artContainer,
#artContainerLayered {
  /* left section div only, uses js to recalculate height */
  position: relative; }
  @media screen and (min-width: 769px) {
    #artContainer,
    #artContainerLayered {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center; } }

#theFoldsOfFlowersComic,
#weatherButtons {
  padding-top: 3rem; }
  @media screen and (min-width: 769px) {
    #theFoldsOfFlowersComic,
    #weatherButtons {
      padding-top: 0rem; } }

.leftImage {
  -webkit-transition: all 360ms ease-out;
  /* for when iamges needs to change opacity */
  -moz-transition: all 360ms ease-out;
  transition: all 360ms ease-out;
  display: flex;
  /* set as flex container to position flex items near bottom for mobile */
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background-color: #ffffff; }
  @media screen and (min-width: 769px) {
    .leftImage {
      /* each article starts as visually hidden */
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      justify-content: center;
      background-color: transparent; } }

div#heroImg {
  background-color: transparent; }

#picContent,
.picContent {
  margin: 0 auto;
  width: 85%;
  height: 17rem;
  /* mobile uses js to recalculate height to 50% of screen height; this number functions as a placeholder */
  overflow: visible;
  position: relative; }
  @media screen and (min-width: 769px) {
    #picContent,
    .picContent {
      margin: 0 auto;
      height: 60vh; } }

#picContent img,
.picContent img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  /* pay attention to this!! */
  max-width: 100%; }

.frame img {
  /* container for "stacked" images (comics, etc) */
  border: 0.125rem solid #2D313A;
  border-radius: 0.125rem;
  cursor: pointer; }

.hiddenPage {
  /* settings for "default" hidden "stacked" images (comics, etc) */
  visibility: hidden;
  opacity: 0;
  z-index: -100; }

img.first {
  /* settings for "default" hidden "stacked" images's first page (comics, etc) */
  visibility: visible;
  opacity: 1;
  z-index: 100; }
  @media screen and (min-width: 769px) {
    img.first {
      visibility: inherit;
      opacity: inherit;
      z-index: inherit; } }

.leftTextContent {
  margin: 0.75rem 0 13.5%;
  padding: .75rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #ffffff; }
  @media screen and (min-width: 769px) {
    .leftTextContent {
      margin: 1rem 0 5%;
      padding: 1.5rem 3rem; } }
  @media screen and (min-width: 1024px) {
    .leftTextContent {
      margin: 1rem 0 2.5%; } }

.leftTextContent p {
  text-align: left; }
  @media screen and (min-width: 769px) {
    .leftTextContent p {
      margin: auto;
      max-width: 35rem; } }
  @media screen and (min-width: 1024px) {
    .leftTextContent p {
      margin: auto;
      max-width: 37.5rem; } }

#rightInfoSection {
  -webkit-transition: all 360ms ease-in;
  /* for when #rightInfoSection needs to change bg color */
  -moz-transition: all 360ms ease-in;
  transition: all 360ms ease-in;
  position: relative;
  /* footer absolute to this container */ }
  @media screen and (min-width: 769px) {
    #rightInfoSection {
      height: 100vh; } }

.whiteBg {
  background-color: #ffffff; }

/* js toggles these bgcolors on #rightInfoSection */
.silverBg {
  background-color: #2D313A; }

#infoContainer {
  /* articles absolute to this container */ }
  @media screen and (min-width: 769px) {
    #infoContainer {
      position: relative;
      height: 100vh;
      border-left: 0.25rem solid #ffffe2; } }
  @media screen and (min-width: 1024px) {
    #infoContainer {
      max-width: 50rem; } }

.rightInfo {
  padding: 1rem;
  -webkit-transition: all 360ms ease-in;
  /* for when articles needs to change opacity */
  -moz-transition: all 360ms ease-in;
  transition: all 360ms ease-in; }
  @media screen and (min-width: 769px) {
    .rightInfo {
      /* each article starts as visually hidden */
      width: 100%;
      padding: 1rem 4rem 1rem 2rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0; } }

.showSection {
  /* js applies class as sideNav buttons clicked */
  visibility: visible;
  opacity: 1.0;
  z-index: 100; }

.rightTextContent p {
  margin-bottom: 1rem; }

.rightTextContent p:last-child {
  margin-bottom: 0.5rem; }

#rightThumbSection {
  position: relative;
  /* footer absolute to this container */ }
  @media screen and (min-width: 769px) {
    #rightThumbSection {
      height: 100vh; } }

#thumbContainer {
  /* divs absolute to this container (mimic #infoContainer) */
  display: none;
  /* for mobile devices, all images will be full size, no thumbnails needed */ }
  @media screen and (min-width: 769px) {
    #thumbContainer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      border-left: 0.25rem solid #ffffe2; } }
  @media screen and (min-width: 1024px) {
    #thumbContainer {
      max-width: 50rem; } }

.rightThumb {
  display: none;
  /* for mobile devices, all images will be full size, no thumbnails needed */
  background: none; }
  @media screen and (min-width: 769px) {
    .rightThumb {
      display: block;
      margin: 0.5rem;
      height: 6rem;
      flex: 0 1 6rem;
      border: 0.125rem solid #2D313A;
      border-radius: 0.125rem;
      background-color: #2D313A;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 110%;
      opacity: 0.7;
      -webkit-filter: grayscale(100%);
      filter: gray;
      cursor: pointer; } }
  @media screen and (min-width: 1024px) {
    .rightThumb {
      height: 8rem;
      flex: 0 1 8rem; } }
  @media screen and (min-width: 1440px) {
    .rightThumb {
      height: 10rem;
      flex: 0 1 10rem; } }

.rightThumb:hover {
  opacity: 0.9;
  -webkit-filter: grayscale(0);
  filter: none; }

/* .articleImg { margin-bottom: 1rem; }
.codeSample {
  width: 90%;
  max-height: 20rem;
  overflow: auto;
  background-color: $silver;
  color: $white;
}
pre {
  padding: 0.75rem;
  display: block;
  white-space: pre;
  text-align: left;
} */
/* .flexible {
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.flexItem33 {
  padding-bottom: 1rem;
  @include tablet { flex: 1 33.3333333333333%; }
}
.flexItem50 {
  padding-bottom: 1rem;
  @include tablet { flex: 1 50%; }
}
.flexItem100 {
  @include tablet { flex: 1 100%; }
} */
footer {
  padding: 1rem;
  background-color: #ffffff;
  color: #111111;
  text-align: center;
  -webkit-transition: all 360ms ease-in;
  /* for when footer needs to change bg color */
  -moz-transition: all 360ms ease-in;
  transition: all 360ms ease-in; }
  @media screen and (min-width: 769px) {
    footer {
      background-color: transparent;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); } }

.whiteFoot {
  background-color: transparent;
  color: #ffffff; }

.socialLinks {
  /* flex container to evenly space icons */
  display: flex;
  flex-direction: row;
  justify-content: center; }

#btnTop,
.socialLinks a i {
  padding: 1rem;
  flex: 1; }

#btnAbout {
  margin: 1rem 2.25rem 0 0; }

@media screen and (min-width: 769px) {
  #btnNavOpen,
  #btnNavClose {
    display: none; } }

#btnNavClose {
  border: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 500; }

#navContainer a.rightNavLink {
  border-bottom: 1px solid #2D313A; }

#navContainer a.rightNavLink:last-of-type {
  border-bottom: none; }

#iconNavOpen,
#iconNavClose {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 500; }
  @media screen and (min-width: 769px) {
    #iconNavOpen,
    #iconNavClose {
      top: 0.75rem;
      right: 0.75rem; } }

#iconNavOpen,
#iconNavClose,
#btnNavClose {
  color: #00a4b3;
  cursor: pointer; }

#iconNavOpen,
#btnTop {
  background-color: rgba(0, 0, 0, 0.9); }

#iconNavOpen,
#iconNavClose,
#btnTop {
  padding: 0.75rem 1rem; }
  @media screen and (min-width: 769px) {
    #iconNavOpen,
    #iconNavClose,
    #btnTop {
      background-color: transparent;
      border: none; } }

@media screen and (min-width: 769px) {
  #btnTop {
    display: none; } }

/* mobile layout controled in general.scss, footer section */
#iconNavOpen,
#btnTop,
.btnControl {
  border: 0.125rem solid #ffffff;
  border-radius: 0.25em; }

.btnControl {
  /* used on desktop homepage and other pages' next/previous section buttons */
  margin-top: 0.5rem;
  padding: 0.625rem 0.875rem;
  background-color: transparent;
  color: #ffffff;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
  text-transform: lowercase; }

#navList {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (min-width: 769px) {
    #navList {
      width: 40%; } }

#navList li a {
  display: block;
  padding: 1rem 3rem;
  align-self: stretch;
  justify-content: space-around;
  border-bottom: 1px solid #2D313A;
  color: #03e6fb;
  font-size: 1rem;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .2rem; }

.cntrlNav {
  display: none;
  visibility: hidden; }

.cntrlNav ~ #navList {
  -webkit-transition: right 1s ease-out;
  -moz-transition: right 1s ease-out;
  -o-transition: right 1s ease-out;
  transition: right 1s ease-out; }

.cntrlNav:checked ~ #navList {
  right: 0; }

#navList li a.currentPage {
  color: #007C88; }

#navList li:last-child a {
  border-bottom: none; }

.btnControl:hover,
.btnControl:active,
#navList a:hover,
#navList a:active,
#navContainer a.rightNavLink:hover,
#navContainer a.rightNavLink:active {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation: glow 0.35s ease-in;
  -moz-animation: glow 0.35s ease-in;
  animation: glow 0.35s ease-in; }

@-webkit-keyframes glow {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-moz-keyframes glow {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.9); } }
@-keyframes glow {
  from {
    background-color: transparent; }

  to {
    background-color: rgba(0, 0, 0, 0.9); } }
#navList,
#sideList {
  list-style: none; }

#sideNav {
  display: none; }
  @media screen and (min-width: 769px) {
    #sideNav {
      display: block;
      width: 5rem;
      position: absolute;
      top: 50%;
      right: -1rem;
      transform: translateY(-50%);
      z-index: 500;
      text-align: center;
      min-height: 12.5rem; } }

#pageWrapHome {
  margin: 0 auto;
  max-width: 125rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #00a4b3 url("../img/site/herobg.jpg") repeat-x;
  /* fallback */
  background-image: url("../img/site/asanoha-pattern-opt.svg"), linear-gradient(#ffffe2, #00a4b3);
  /* for general */
  background-attachment: fixed; }
  @media screen and (min-width: 769px) {
    #pageWrapHome {
      background: none;
      display: flex;
      /* flex container */
      align-items: stretch;
      flex-direction: row; } }

#heroContainer {
  /* left section div only, uses js to recalculate height */
  height: 100vh;
  display: flex;
  /* set as flex container to position flex items near bottom for mobile */
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  position: relative; }
  @media screen and (min-width: 769px) {
    #heroContainer {
      justify-content: center; } }

#logowing {
  /* logo controls (double wings) */
  margin: 0 auto 2.5%;
  display: block;
  max-width: 60%;
  opacity: 0.8; }
  @media screen and (min-width: 400px) {
    #logowing {
      max-width: 75%; } }
  @media screen and (min-width: 769px) {
    #logowing {
      margin: 12.5% auto 5%; } }
  @media screen and (min-width: 1024px) {
    #logowing {
      max-height: 45vh; } }

.introContent {
  margin-bottom: 10%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff; }
  @media screen and (min-width: 769px) {
    .introContent {
      margin-bottom: 5%;
      padding: 1.5rem 3rem; } }

#rightNav {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (min-width: 769px) {
    #rightNav {
      position: static;
      background-color: transparent;
      border-left: 0.25rem solid #ffffe2; } }

#navContainer {
  /* child div of #rightNav section */
  position: relative;
  height: 100vh;
  display: flex;
  /* flex container */
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

.rightNavProject {
  /* the article itself */
  padding: 0.5rem 3rem;
  align-self: stretch;
  flex: 1;
  /* flex item */
  display: flex;
  /* flex container */
  justify-content: space-around; }

.rightNavSVG,
.rightNavProject svg {
  display: none; }
  @media screen and (min-width: 769px) {
    .rightNavSVG,
    .rightNavProject svg {
      flex: 1;
      /* flex item */
      display: block;
      object-fit: contain;
      align-self: baseline;
      fill: #00a4b3;
      max-width: 3.5rem; } }

.rightNavText {
  padding-top: 1rem;
  flex: 2;
  /* flex item */
  margin-left: 1rem;
  align-self: baseline; }
  @media screen and (min-width: 769px) {
    .rightNavText {
      padding-top: 0; } }

@media screen and (min-width: 769px) {
  .homeFoot {
    color: #111111; } }

#picProfile {
  border: 0.125rem solid #00a4b3;
  border-radius: 0.25rem;
  opacity: 0.8; }

.aboutCenterP p {
  text-align: center; }

.rightSkill {
  /* the parent article */
  color: #ffffff;
  padding: 2rem 1rem 0; }
  @media screen and (min-width: 769px) {
    .rightSkill {
      padding: 2rem 3rem 1rem 2rem; } }

.skillBox {
  /* the div inside the article */
  padding-bottom: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.skillChart h3 {
  flex: 1 100%; }

.skillBox p {
  margin-bottom: 0.25rem;
  flex: 1 50%;
  letter-spacing: 0.125em; }

.skillBox p:first-child {
  font-weight: bold; }

.skillBox p:nth-child(2) {
  text-align: right; }

.skillBar {
  flex: 2 100%;
  padding: 0.25rem;
  width: 100%;
  background-color: #111111;
  border: 1px solid #00a4b3;
  border-radius: 0.125rem; }

.skillLevel {
  height: .5rem;
  background-color: #00a4b3; }

.percent80 {
  width: 80%; }

.percent60 {
  width: 60%; }

.percent40 {
  width: 40%; }

.percent20 {
  width: 20%; }

.buttonHidden {
  display: none; }
  @media screen and (min-width: 769px) {
    .buttonHidden {
      display: inline-block;
      margin-right: 2.25rem; } }

.buttonTeal {
  border-color: #00a4b3;
  color: #00a4b3; }

/*# sourceMappingURL=css.css.map */
