// profile pic controls
#logo.suki {
  border: 0.125rem solid $teal;
  border-radius: 0.25rem;
  opacity: 0.8;
  max-width: 80%;
  @include phablet { max-width: 70%; }
  @include laptop { max-width: 60%; }
  @include full { max-width: 50%; }
}

// rightInfoSection
#rightInfoSection {
  padding: 1em 0 0;
  -webkit-transition: all 360ms ease-out; /* for when images needs to change opacity */
  -moz-transition: all 360ms ease-out;
  transition: all 360ms ease-out;
}
#backgroundInfo {
  padding: 1em;
  @include tablet { padding: 1em 2.5em 1em 1em; }
}
#backgroundInfo h3 { text-align: center; }

.rightInfo {
  -webkit-transition: all 360ms ease-out; /* for when images needs to change opacity */
  -moz-transition: all 360ms ease-out;
  transition: all 360ms ease-out;
  @include tablet { /* each article starts as visually hidden */
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    visibility: hidden;
    opacity: 0;
  }
}

// skill chart controls
.rightSkill { /* the parent article */
  width: 100%;
  color: $white;
  padding: 2em 1em 0;
  @include tablet { padding: 2em 3em 1em 1em; }
}
.skillBox { /* the div inside the article */
  padding-bottom: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.skillChart h3 {
  margin-bottom: 0.5em;
  flex: 1 100%;
}
.skillBox p {
  margin-bottom: 0.25rem;
  flex: 1 50%;
  font-size: 0.875em;
  letter-spacing: 0.125em;
}
.skillBox p:nth-child(2) { text-align: right; }

// skill bar controls
.skillBar {
  flex: 2 100%;
  padding: 0.25rem;
  width: 100%;
  background-color: $black;
  border: 1px solid $teal;
  border-radius: 0.125rem;
}
.skillLevel {
  height: .5rem;
  background-color: $teal;
}
.percent80 { width: 80%; }
.percent60 { width: 60%; }
.percent40 { width: 40%; }
.percent20 { width: 20%; }

// button controls
.buttonHidden {
  display: none;
  @include tablet {
    display: inline-block;
    margin-right: 2.25rem;
  }
}
.buttonTeal {
  border-color: $teal;
  color: $teal;
}

/* js toggles these bgcolors on #rightInfoSection */
.whiteBg { background-color: $white; }
.silverBg { background-color: $silver; }
