// index page flexbox controls
#pageWrapHome {
  margin: 0 auto;
  max-width: 125rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: $teal url("../img/site/herobg.jpg") repeat-x; /* fallback */
  background-image: url("../img/site/asanoha-pattern-opt.svg"), linear-gradient($beige, $teal); /* for general */
  background-attachment: fixed;
  @include tablet {
    background: none;
    display: flex; /* flex container */
    align-items: stretch;
    flex-direction: row;
  }
}


// leftHeroSection index page-only controls
#logowing {  /* logo controls (double wings) */
  margin: 0 auto 2.5%;
  display: block;
  max-width: 60%;
  opacity: 0.8;
  @include phablet { max-width: 75%; }
  @include tablet { margin: 12.5% auto 5%; }
  @include desktop { max-height: 45vh; }
}
.introContent {
  margin-bottom: 10%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: $white;
  @include tablet {
    margin-bottom: 5%;
    padding: 1.5rem 3rem;
  }
}


// right side of screen
#rightNav {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  @include tablet {
    position: static;
    background-color: transparent;
    border-left: 0.25rem solid $beige;
  }
}
// set right section to fill screen height
#navContainer { /* child div of #rightNav section */
  position: relative;
  height: 100vh;
  display: flex; /* flex container */
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.rightNavProject { /* the article itself */
    padding: 0.5rem 3rem;
    align-self: stretch;
    flex: 1; /* flex item */
    display: flex; /* flex container */
    justify-content: space-around;
}
.rightNavSVG,
.rightNavProject svg {
  display: none;
  @include tablet {
    flex: 1; /* flex item */
    display: block;
    object-fit: contain;
    align-self: baseline;
    fill: $teal;
    max-width: 3.5rem;
  }
}
.rightNavText {
  padding-top: 1rem;
  flex: 2; /* flex item */
  margin-left: 1rem;
  align-self: baseline;
  @include tablet { padding-top: 0; }
}

// footer desktop overrides mobile .whiteFoot
.homeFoot { @include tablet { color: $black; } }
