// left section homepage image and text controls

// right side main navigation
  #rightNav {
    padding: 0;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    @include tablet {
      position: static;
      background-color: $white;
      border-left: 0.25rem solid $beige;
    }
  }
// set right section to fill screen height
  #navContainer { /* child div of #rightNav section */
    position: relative;
    height: 100vh;
    display: flex; /* flex container */
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .rightNavProject { /* the article itself */
      padding: 0.5rem 3rem;
      align-self: stretch;
      flex: 1; /* flex item */
      display: flex; /* flex container */
      justify-content: space-around;
  }
  .rightNavSVG,
  .rightNavProject img {
    display: none;
    @include tablet {
      flex: 1; /* flex item */
      display: block;
      object-fit: contain;
      align-self: baseline;
      max-width: 3.5rem;
    }
  }
  .rightNavText {
    padding-top: 1rem;
    flex: 2; /* flex item */
    margin-left: 1rem;
    align-self: baseline;
    @include tablet { padding-top: 0; }
  }


// homepage-specific footer
  .homeFoot {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: $white;
    font-size: 0.75em;
    @include tablet {
      color: $black;
    }
  }
