a {
  color: $white;
  text-decoration: none;
}

// 1 - header mainNav Container
  #mainNav {
    padding: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 5000;
    z-index: 99999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: space-between;
    align-content: space-between;
    // overflow: hidden;
    @include landscape { padding: 1em 5%; }
  }
  // 2 - name link
    .nameLink {
      flex: 1 auto;
      align-self: center;
      color: $teal;
      font-family: $subHead-font;
      font-weight: bold;
      font-size: 1.0625rem;
      @include phablet { font-size: 1.125em; }
      @include mtablet { font-size: 1.1875em; }
      @include tablet { font-size: 1.25em; }
      @include laptop { font-size: 1.3125em; }
    }
  // 2 - menu icon container (icon appearance controls in svg.scss)
    #label-menuIcon {
      flex: 1 50%;
      text-align: right;
      z-index: 5000;
    }
  // 2 - link elements container
    #navContainer {
      margin: 0;
      padding: 5% 1rem 0;
      position: absolute;
      top: -100vh;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: $gradTealToGold2;
      // @include tablet { width: 100%; }
      @include landscape {
        padding: 1em 1em 0;
        // width: 100%;
      }
    }
    // 3 - link list
      #navList {
        flex: 99999 auto;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      // 4 - link element
        #navList li a {
          display: block;
          padding: 1rem 3rem;
          align-self: stretch;
          color: $white;
          font-size: 2rem;
          font-family: $subHead-font;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 0.2rem;
          @include phablet { font-size: 2.25em; }
          @include tablet { font-size: 2.5em; }
          @include laptop { font-size: 3em; }
        }

// buttons
  a.button {
    margin-bottom: 2%;
    max-width: 25ch;
    padding: 0.75em 2em;
    display: inline-block;
    border: none;
    border-radius: 1.5em;
    background-image: $gradTealToGold2;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.375);
    -webkit-transition: all 280ms ease-out;
    -moz-transition: all 280ms ease-out;
    transition: all 280ms ease-out;
  }

  .back a {
    display: inline-block;
    padding: 0.5rem;
  }
  .scrollDown a { color: $teal; }

// checkbox-controls for css-animated navContainer and noscript curtain control
  .cntrlCurtain,
  .cntrlNav { // hides the checkbox
    display: none;
    visibility: hidden;
  }
  .cntrlNav ~ #navContainer { // animate the navContainer
    -webkit-transition: top 600ms ease-out; // Safari
    -moz-transition: top 600ms ease-out; // Firefox
    -o-transition: top 600ms ease-out; // Opera
    transition: top 600ms ease-out;
  }
  .cntrlNav:checked ~ #navContainer { top: 0; }

// all button/nav link hover animation controls
  a.nameLink:hover,
  .scrollDown:hover a,
  h4.back a:hover,
  h5.back a:hover,
  #navContainer a:hover,
  #navContainer a:active,
  .socialLinks a i:hover { color: $cyan; }

  a.nameLink:hover,
  .scrollDown:hover a,
  .socialLinks a i:hover {
    color: $cyan;
    -webkit-animation: glow1 0.35s ease-in;
    -moz-animation: glow1 0.35s ease-in;
    animation: glow1 0.35s ease-in;
  }
  h4.back a:hover,
  h5.back a:hover,
  #navContainer a:hover,
  #navContainer a:active {
    -webkit-animation: glow2 0.35s ease-in;
    -moz-animation: glow2 0.35s ease-in;
    animation: glow2 0.35s ease-in;
  }
  // a.button:hover { transform: translateY(-0.125rem); }
  // a.button:active { transform: translateY(0.125rem); }


  @-webkit-keyframes glow1 {
    from { color: $teal; }
    to { color: $cyan; }
  }
  @-moz-keyframes glow1 {
    from { color: $teal; }
    to { color: $cyan; }
  }
  @keyframes glow1 {
    from { color: $teal; }
    to { color: $cyan; }
  }

  @-webkit-keyframes glow2 {
    from { color: $white; }
    to { color: $cyan; }
  }
  @-moz-keyframes glow2 {
    from { color: $white; }
    to { color: $cyan; }
  }
  @keyframes glow2 {
    from { color: $white; }
    to { color: $cyan; }
  }
