// homepage buttons only
#btnAbout { margin: 1rem 2.25rem 0 0; }
#btnNavOpen, /* hide buttons when screen size allows rightNav to show */
#btnNavClose { @include tablet { display: none; } }
#btnNavClose {
  border: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 500;
}
#navContainer a.rightNavLink { border-bottom: 1px solid $silver; }
#navContainer a.rightNavLink:last-of-type { border-bottom: none; }


// mixed navigation icon/button controls
#iconNavOpen,
#iconNavClose {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 500;
  @include tablet {
    top: 0.75rem;
    right: 0.75rem;
  }
}
#iconNavOpen,
#iconNavClose,
#btnNavClose, {
  color: $teal;
  cursor: pointer;
}
#iconNavOpen,
#btnTop { background-color: rgba(0, 0, 0, 0.9); }
#iconNavOpen,
#iconNavClose,
#btnTop {
  padding: 0.75rem 1rem;
  @include tablet {
    background-color: transparent;
    border: none;
  }
}
#btnTop { @include tablet { display: none; } } /* mobile layout controled in general.scss, footer section */
#iconNavOpen,
#btnTop,
.btnControl {
  border: 0.125rem solid $white;
  border-radius: 0.25em;
}
.btnControl { /* used on desktop homepage and other pages' next/previous section buttons */
  margin-top: 0.5rem;
  padding: 0.625rem 0.875rem;
  background-color: rgba(0, 0, 0, 0.0);
  color: $white;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
  text-transform: lowercase;
}


// non-homepage navigation controls
#navList {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  @include tablet { width: 40%; }
}
#navList li a {
  display: block;
  padding: 1rem 3rem;
  align-self: stretch;
  justify-content: space-around;
  border-bottom: 1px solid $silver;
  color: $cyan;
  font-size: 1rem;
  font-family: $header-font;
  font-weight: bold;
  letter-spacing: .2rem;
}


// checkbox-controlled nav
.cntrlNav { // hides the checkbox
  display: none;
  visibility: hidden;
}
.cntrlNav ~ #navList {
  -webkit-transition: right 1s ease-out; // Safari
  -moz-transition: right 1s ease-out; // Firefox
  -o-transition: right 1s ease-out; // Opera
  transition: right 1s ease-out;
}
.cntrlNav:checked ~ #navList { right: 0; }
#navList li a.currentPage { color: #007C88; }
#navList li:last-child a { border-bottom: none; }


// all button/nav link hover controls
.btnControl:hover, /* all button hover controls */
.btnControl:active, /* all button hover controls */
#navList a:hover, /* all button hover controls */
#navList a:active, /* all button hover controls */
#navContainer a.rightNavLink:hover, /* homepage */
#navContainer a.rightNavLink:active /* homepage */ {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation: glow 0.35s ease-in;
  -moz-animation: glow 0.35s ease-in;
  animation: glow 0.35s ease-in;
}
@-webkit-keyframes glow {
  from { background-color: rgba(0, 0, 0, 0.0); }
  to { background-color: rgba(0, 0, 0, 0.9); }
}
@-moz-keyframes glow {
  from { background-color: rgba(0, 0, 0, 0.0); }
  to { background-color: rgba(0, 0, 0, 0.9); }
}
@-keyframes glow {
  from { background-color: rgba(0, 0, 0, 0.0); }
  to { background-color: rgba(0, 0, 0, 0.9); }
}


// sideNav controls for tablet article navigation
#navList,
#sideList { list-style: none; }
#sideNav {
  display: none;
  @include tablet {
    display: block;
    width: 5rem;
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    z-index: 500;
    text-align: center;
    min-height: 12.5rem;
  }
}
