* {
  margin: 0;
  padding: 0;
  z-index: 999999
}

html {
  box-sizing: border-box;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#072142), color-stop(#061c37), color-stop(#07182b), color-stop(#061220), to(#020b16));
  background-image:-webkit-linear-gradient(top, #072142, #061c37, #07182b, #061220, #020b16);
  background-image:-o-linear-gradient(top, #072142, #061c37, #07182b, #061220, #020b16);
  background-image:linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16);
}

*,
*:before,
*:after { box-sizing: inherit; }

svg,
img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast; /* fix chrome's image sharpness per: https://medium.freecodecamp.org/-898b38a6c0e1 */
}
