* {
  margin: 0;
  padding: 0;
  z-index: 999999
}

html {
  box-sizing: border-box;
  background-color: $blue;
  background-image: url("../img/patternbg-2019.jpg");
  background-repeat: repeat;
  background-size: 15%;
  background-attachment: fixed;
  @include desktop { background-size: 10%; }
}

body { overflow-x: hidden; }

*,
*:before,
*:after { box-sizing: inherit; }

svg,
img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast; /* fix chrome's image sharpness per: https://medium.freecodecamp.org/-898b38a6c0e1 */
}

// custom scrollbar fun
  ::-webkit-scrollbar { width: 0.25rem; } // track width
  ::-webkit-scrollbar-track {
    background: $blue;
    border-radius: 0.125rem;
  } // track color
  ::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 0.125rem;
  } // handle
  ::-webkit-scrollbar-thumb:hover { background: $gold1; } // handle on hover
