// colors
$black:  #111111;
$silver: #2D313A;
$cyan:   #03e6fb;
$teal:   #00a4b3;
$white:  #ffffff;
$beige:  #ffffe2;

// fonts
$header-font: 'Quicksand', Arial, sans-serif;
$copy-font:   'Average', Garamond, serif;

// media sizes
$phablet-width: "screen and (min-width: 400px)";
$mtablet-width: "screen and (min-width: 566px)";
$tablet-width:  "screen and (min-width: 769px) and (min-height: 629px)";
$laptop-width: "screen and (min-width: 1025px) and (min-height: 769px)";
$desktop-width: "screen and (min-width: 1280px) and (min-height: 800px)";
$full-width:    "screen and (min-width: 1440px)";
