#introContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#svgPearlContainer, #introText { position: absolute; }
#svgPearlContainer {
  width: 100%;
  top: -20%;
  left: -50%;
  @include phablet {
    width: 120%;
    top: -22.5%;
    left: -40%;
  }
  @include tablet {
    width: 92.5%;
    top: -20%;
    right: -25%;
  }
  @include desktop {
    width: 93.5%;
    top: -32.5%;
    right: -20%;
  }
}
.svgPearlElement { width: 200%;
  @include phablet { width: 150%; }
  @include mtablet { width: 125%; }
  @include tablet { width: 110%; }
  @include laptop { width: 85%; }
  @include desktop { width: 92.5%; }
}
#introText {
  top: 80%;
  left: 13%;
  transform: translateY(-50%);
  color: $white;
  @include tablet { top: 50%; }
}

.flex-item { flex: 1 50%; }

// #glow, #flameBackLeft, #flameBackRight,
// #pearlOfWisdom, #flameFrontLeft #flameFrontRight {
//   width: 100%;
//   height: 100%;
// }

.cls-23,
#glowGroup { fill: white; }

.cls-1 { fill:none; }

// .cls-2 { opacity:0.1; }
.cls-3 { opacity:0.01; }
.cls-4 { opacity:0.02; }
.cls-5 { opacity:0.04; }
.cls-6 { opacity:0.06; }
.cls-7 { opacity:0.08; }
.cls-8 { opacity:0.1; }
.cls-9 { opacity:0.12; }


.cls-10 { fill:#dbaa2d; }
.cls-11 { fill:#e6b52d; }
.cls-12 { fill:#f2c12d; }
.cls-13 { fill:#ffcd2d; }
.cls-14 { fill:#f5efeb; }
.cls-15 { fill:#ece5e3; }
.cls-16 { fill:#e3ddda; }
.cls-17 { fill:#dfd8d6; }
.cls-18 { fill:#d9d3d0; }
.cls-19 { fill:#d3ccca; }
.cls-20 { fill:#eae6e3; }
.cls-21 { fill:#f7f0eb; }
.cls-22 { fill:#e2dad6; }



// homepage stuff
.secContainer {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include tablet {
    height: auto;
    min-height: 100vh;
    flex-direction: row;
  }
}

.projectContainer {
  padding: 0 0 0 13%;
  position: relative;
  flex: 1 33.333333333333333333%;
  display: flex;
  @include tablet {
    padding: 0 5%;
    flex-direction: column-reverse;
    height: 90vh;
    justify-content: flex-start;
  }
}
.imgContainer {
  width: 55%;
  height: 80%;
  position: absolute;
  top: 50%;
  right: 13%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: $silver;
  @include tablet {
    width: 80%;
    height: 75%;
    top: 13%;
    transform: translateY(0);
    left: 50%;
    transform: translateX(-50%);
  }
}
.textContainer {
  width: 100%;
  align-self: flex-end;
}
button {
  margin: 5% 0;
  max-width: 20ch;
  padding: 0.5em 1em;
  display: inline-block;
  border: none;
  border-radius: 1em;
  background-color: $teal;
}
